---
import type { CollectionEntry } from "astro:content";
import { commentConfig } from "@/config";
import Twikoo from "./Twikoo.astro";
import Giscus from "./Giscus.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const { id, data, slug } = Astro.props.post;

const path = `/posts/${slug}`;
const url = `${Astro.site?.href}${path}`;

const commentType = commentConfig?.type || "twikoo";
---
{commentConfig?.enable && (
  <div class="card-base p-6 mb-4">
    {commentType === 'twikoo' && commentConfig?.twikoo && <Twikoo path={path} />}
    {commentType === 'giscus' && commentConfig?.giscus && <Giscus path={path} />}
  </div>
)}
